* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;;
}

body{
    height: 100vh;
}

.container{
    display: flex;
}

.sidebar{
    background-color: #2d4059;
    height: 100vh;
    width: 8vh;
}

.sidebar > nav{
    height: 100%;
}

.sidebar_nav{
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
}

.icons{
    width: 40px;
    cursor: pointer;
    margin: auto 60px;
}

.content{
    background-color: #e5e5e5;
    width: 100%;
}

.content_header{
    display: flex;
    justify-content: end;
    align-items: center;
    height: 10vh;
    box-shadow: 1px 5px rgba(0, 0, 0, 0.02);
}

.content_header > div > img {
    width: 35px;
    height: 35px;
}

.content_header > div > i {
    font-size: 1.8rem;
}

.content_header > div{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 150px;
}

.content_main{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80vh;
}

.main_account{
    display: flex;
    justify-content:space-around;
    align-items: center;
    margin: 10px auto;
    width: 90%;
    height: 50px;
    box-shadow: 1px 1px rgba(0, 0, 0, 0.09);
}

.main_account > a img{
    width: 35px;
}

.main_account > a img:last-child{
    width: 20px;
}

.account-name{
    font-size: 2rem;
    color: #ea5455;
}

.content_footer{
    height: 10vh;
    box-shadow: 0px -5px rgba(0, 0, 0, 0.02);
}

.btn{
    cursor: pointer;
}

@media only screen and (max-width: 800px){
    .content_main{
        overflow: scroll;
    }
    .icons{
        margin: auto 20px;
    }
}