* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;;
}

body{
    height: 100vh;
}

.container{
    display: flex;
}

.sidebar{
    background-color: #2d4059;
    height: 100vh;
    width: 8vh;
}

.sidebar > nav{
    height: 100%;
}

.sidebar_nav{
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
}

.icons{
    width: 30px;
}

.content{
    background-color: #e5e5e5;
    width: 100%;
}

.content_header{
    display: flex;
    justify-content: end;
    align-items: center;
    height: 10vh;
    box-shadow: 1px 5px rgba(0, 0, 0, 0.02);
}

.content_header > div > img {
    width: 35px;
    height: 35px;
}

.content_header > div > i {
    font-size: 1.8rem;
}

.content_header > div{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 150px;
}

.content_main{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1x solid black;
    height: 80vh;
}

.main_form{
    display: flex;
    flex-direction: column;
}

.main_form-input{
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-color: black;
    background-color: #e5e5e5;
    margin: 30px 0;
    padding-left: 10px;
    height: 30px;
    width: 300px;
    font-size: 1.9rem;
}

.main_form-button{
    border: none;
    background-color: #ea5455;
    color: #fcfefe;
    height: 35px;
}

.main_form-button:hover{
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
}

.content_footer{
    height: 10vh;
    box-shadow: 0px -5px rgba(0, 0, 0, 0.02);
}

@media only screen and (max-width: 600px){
    .main_form-input{
        width: 250px;
    }   
}
