[
    	{
    	"user": "admin",
    	"password":"admin",
    	"email": "admin@admin.com",
    	"nodo": 0,
    	"admin": 1
    	}
	,{
	"user":"randy",
	"password":"randy",
	"email":"rvillanuevag1603@alumno.ipn.mx",
	"nodo":1,
	"admin":0
	}
	,{
	"user":"zabdiel",
	"password":"zabdiel",
	"email":"idiazs1300@alumno.ipn.mx",
	"nodo":1,
	"admin":0
	}
	,{
	"user":"paola",
	"password":"paola",
	"email":"prayat1601@alumno.ipn.mx",
	"nodo":1,
	"admin":0
	}
]
